{
  "node_name": "{{ ansible_hostname }}",
  "data_dir": "{{ consul_data_dir }}",
  "log_level": "{{ consul_loglevel }}",
  "log_file": "{{consul_logfile}}",
  "log_rotate_duration": "24h",
  "log_rotate_max_files": 6,
  "domain": "{{ consul_domain }}",
  "datacenter": "{{ consul_datacenter }}",
  "bind_addr": "{{ consul_ip }}",
  "advertise_addr": "{{ consul_ip }}",
  "ports": {
    "http": {{consul_http_port }},
    "dns": {{ consul_dns_port }}{% if consul_connect_enabled %},
    "grpc": {{ consul_grpc_port }}
{% endif %}
  },
   "server": false, 
  "encrypt": "{{consul_encrypt}}",
  "retry_interval": "{{consul_retry_interval}}",
  "retry_join": [{% for host in groups[consul_server_group] %} "{{ host }}" {% if not loop.last %},{% endif %}{% endfor %}],
  "rejoin_after_leave": true,
  "connect": {
    "enabled": true
  }
}