upstream Front_API_11034 {
  #ip_hash;
  server 1.1.1.1:11034 max_fails=3 fail_timeout=2s;
 }
upstream Front_web_10034 {
  #ip_hash;
  server 1.1.1.10:10034 max_fails=3 fail_timeout=2s;
}
server {
  listen 80;
  server_name ; 
  access_log {{openresty_log_path}}}/034-cp66.access.log main;
  error_log {{openresty_log_path}}/034-cp66.error.log;
  
  location /robots.txt {return 200 "User-agent: *\nDisallow: /\n";}
  if ($request_method = OPTIONS ) {
   return 200;
  }
   location /maintain.html {
    root /opt/Htdocs/service;
  }
  location /ma.html {
    root /opt/Htdocs/service;
  }

  location /apis {
    proxy_redirect  off;
    proxy_intercept_errors on;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    rewrite  ^.+apis/?(.*)$ /$1 break;
    proxy_pass http://Front_API_11034;
  }
  location / {
    ##########################################
    #設定維護頁面 set MAM  0;為不開啟維護
    #             set MAM  1;進入維護模式
    ##########################################
    set $MAM 0;
    ##########################################
    set $acclist '${whitelist}${MAM}';
    proxy_redirect  off;
    proxy_intercept_errors on;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
     if ($http_user_agent ~* "Android|iPhone|(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino") {
      set $acclist '${acclist}1';
    }
     if ( $acclist = '111'){
      #add_header Cache-Control "public";
      #return 404 http://$host/maintain.html;
      error_page 404 /maintain.html;
      return 404;
      #echo  $acclist;
     break;
    }
    if ( $acclist = '11'){
     error_page 404 /maintain.html;
     return 404;
     #echo  $acclist;
     break;
    }
    if ( $acclist = '011'){
     error_page 404 /maintain.html;
     return 404;
     #echo  $acclist;
     break;
    }
    if ( $acclist = '01'){
     error_page 404 /maintain.html;
     return 404;
     break;
    }
    if ( $acclist = '00'  ){
      proxy_pass http://Front_web_10034;
      break;
    }
    if ( $acclist = '001'  ){
      proxy_pass http://Front_web_10034;
      break;
    }
    if ( $allowed_country = 'no' ) {
      #add_header Cache-Control "public";
      #return 302 https://$host/ma.html;
      error_page 404 /ma.html;
      return 404;
      break;
    }
    proxy_pass http://Front_web_10034;
  }
}



