[Unit]
Description=The openresty HTTP and reverse proxy server
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile={{ openresty_pid_path }}
ExecStartPre={{openresty_bin_path}}/openresty -t
ExecStart={{openresty_bin_path}}/openresty
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target